<!DOCTYPE html>
<html>
<%- include('layouts/head') %>

<body>
    <%- include('layouts/navbar', {navbar}) %>

    <main>
        <div class="jumbotron jumbotron-fluid parallax">
            <h1 class="display-4">Tropic</h1>
            <p class="lead">Tropic of cancer or tropic of capricorn?</p>
            <hr class="my-4">
            <p>tropic.dev</p>
        </div>
        <div class="container">
            <div class="jumbotron">
                <p class="lead">Tropic is an amazing bot that suits all your needs with Music, Moderation, Economy,
                    Utilities and much more!</p>
            </div>
            <div class="jumbotron">
                <p class="lead">Lorem Ipsum Donor Sit Amet....</p>
            </div>
        </div>
    </main>

    <%- include('layouts/footer') %>
</body>

</html>