<!DOCTYPE html>
<html>
<%- include('layouts/head') %>

<body>
    <%- include('layouts/navbar', {navbar}) %>

    <main>
        <div class="jumbotron jumbotron-fluid parallax">
            <h1 class="display-4">Success!</h1>
            <p class="lead">You have successfully submitted the form!</p>
        </div>
        <div class="container">
            <div class="jumbotron">
                <p class="lead">Tropic of cancer or tropic of capricorn? Whichever you prefer, this discord bot has it
                    all! All the helpful stuff from Economy, Moderation, Music, Utilities and much much more to come! If
                    you do want to help us out, pledge us a few bucks on our <a href="/patreon">Patreon</a> and you'll
                    get to enjoy some more stuff as well! All the financial contributions you make means the world to my
                    developer FlameXode.</p>
            </div>
            <div class="jumbotron">
                <p class="lead">Lorem Ipsum Donor Sit Amet....</p>
            </div>
        </div>
    </main>

    <%- include('layouts/footer') %>
</body>

</html>